################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotnetLlamaSharp.Infrastructure/Data/Resources/pdfs
